/* Write code for your CSS here */
*{
    margin-left: 20px;
}
.skill{
    background-color: aqua;
    padding: 10px;
    border-radius: 2px;
}

.about{
    width: 400px;
}
ul {

    padding: 0;
    list-style-type: none;
}

.skill {
    display: inline-block;
    margin-right: 10px; /* Add some spacing between the items */
}