.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-item {
    margin-right: 15px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}
